production:
  adapter: {{ rails.db.adapter }}
  encoding: {{ rails.db.encoding }}
  database: {{ rails.db.database }}
  pool: 5
  username: {{ rails.db.user }}
  password: {{ rails.db.password }}
  host: {{ rails.db.host }}
  timeout: 5000
